<%- include('shared/_header', {activeNav: 'custom-dimensions-audit'}) -%>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <%- include('shared/_heading', {
    title: 'Custom Dimensions > Audit',
    button: {
      id: 'custom-dimensions-audit-button',
      title: 'Audit Now'
    }
  }) -%>

  <%- include('shared/_loading-overlay') -%>

  <%- include('shared/_google-analytics-auth') -%>

  <div id="analytics-ui" hidden>
    <form>
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <!-- Accounts -->
          <%- include('shared/fields/_select-multiple', {
            id: 'ga-accounts',
            icon: '/images/adminhome_account_settings.png',
            title: 'Accounts'
          }) -%>

          <!-- Properties -->
          <%- include('shared/fields/_select-multiple', {
            id: 'ga-properties',
            icon: '/images/adminhome_property_settings.png',
            title: 'Properties'
          }) -%>

          <!-- Custom Dimensions Upload -->
          <%- include('shared/fields/_upload-display-table', {
            id: 'custom-dimensions',
            link: '/custom-dimensions/upload.html',
            icon: 'oi oi-puzzle-piece',
            title: 'Properties'
          }) -%>
        </div>

        <%- include('shared/_output-panel') -%>
      </div>
    </form>
  </div>
</main>

<%- include('shared/_footer') -%>
