<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2 brand-title" id="content-title">
    <img src="/images/analyt-logo.png" class="brand-logo" alt="Analyt">
    <%= title %>
  </h1>

  <% if (locals.snapshot) { %>
    <!-- Snapshot Buttons -->
    <div class="btn-toolbar mb-2 mb-md-0 push-vertical">
      <div class="btn-group mr-2 push-vertical">
        <%- include('shared/fields/_button', {
          id: 'save-snapshot-button',
          title: 'Save',
          icon: 'data-transfer-upload',
          color: 'link'
        }) -%>

        <%- include('shared/fields/_button', {
          id: 'load-snapshot-button',
          title: 'Load',
          icon: 'data-transfer-download',
          color: 'link'
        }) -%>
      </div>
    </div>
  <% } %>

  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2 push-vertical">
      <% if (locals.toggles) { %>
        <% locals.toggles.forEach((toggle) => { %>
          <!-- Toggle Button -->
          <%- include('shared/fields/_toggle-switch', {
            id: toggle.id,
            title: toggle.title,
            tooltip: toggle.tooltip,
            checked: toggle.checked
          }) -%>
        <% }) %>
      <% } %>

      <% if (locals.button) { %>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-warning" id="<%= button.id %>" disabled>
          <span class="oi oi-aperture"></span>
          <%= button.title %>
        </button>
      <% } %>
    </div>
  </div>
</div>
