<%- include('shared/_header', {activeNav: 'profiles-audit'}) -%>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <%- include('shared/_heading', {
    title: 'Profiles > Edit',
    button: {
      id: 'audit-button',
      title: 'Audit Now'
    }
  }) -%>

  <%- include('shared/_loading-overlay') -%>

  <%- include('shared/_google-analytics-auth') -%>

  <div id="analytics-ui" hidden>
    <form>
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <!-- Accounts -->
          <%- include('shared/fields/_select-multiple', {
            id: 'ga-accounts',
            icon: '/images/adminhome_account_settings.png',
            title: 'Accounts'
          }) -%>

          <!-- Properties -->
          <%- include('shared/fields/_select-multiple', {
            id: 'ga-properties',
            icon: '/images/adminhome_property_settings.png',
            title: 'Properties'
          }) -%>

          <!-- Profiles -->
          <%- include('shared/fields/_select-multiple', {
            id: 'ga-profiles',
            icon: '/images/adminhome_profile_settings.png',
            title: 'Views/Profiles'
          }) -%>
        </div>

        <%- include('shared/_output-panel') -%>
      </div>
    </form>
  </div>
</main>
<%- include('shared/_footer') -%>
