<%- include('shared/_header', {activeNav: 'goals'}) -%>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <%- include('shared/_heading', {
    title: 'Goals',
    toggle: {
      id: 'ga-live-api-call-toggle',
      title: 'Live API Call?',
      tooltip: 'Enable WRITE calls to the Google Management API'
    },
    snapshot: {
      id: 'goals-audit'
    }
  }) -%>

  <%- include('shared/_loading-overlay') -%>

  <%- include('shared/_google-analytics-auth') -%>

  <div id="analytics-ui" hidden>
    <form>
      <div class="row">
        <div class="col-md-6 col-lg-4">
           <!-- Accounts -->
           <%- include('shared/fields/_select-multiple', {
             id: 'ga-accounts',
             icon: '/images/adminhome_account_settings.png',
             title: 'Accounts'
           }) -%>

           <!-- Properties -->
           <%- include('shared/fields/_select-multiple', {
             id: 'ga-properties',
             icon: '/images/adminhome_property_settings.png',
             title: 'Properties'
           }) -%>

           <!-- Profiles -->
           <%- include('shared/fields/_select-multiple', {
             id: 'ga-profiles',
             icon: '/images/adminhome_profile_settings.png',
             title: 'Views/Profiles'
           }) -%>
        </div>

        <div class="col-md-6 col-lg-4">
          <%- include('_form') -%>
        </div>

        <div class="col-12 d-lg-none d-md-block" style="margin-bottom: .5rem;">
          <%- include('shared/fields/_submit-button', {
            title: 'Create goals'
          }) -%>
          <hr />
        </div>

        <%- include('shared/_output-panel') -%>
      </div>

      <div class="row d-none d-lg-block">
        <div class="col-4">
          <%- include('shared/fields/_submit-button', {
            title: 'Create goals'
          })-%>
        </div>

        <hr />
      </div>
    </form>
  </div>
</main>

<%- include('shared/_footer') -%>
