<div class="custom-control custom-switch" data-toggle="tooltip" data-placement="bottom" title="<%= tooltip %>">
  <input class="custom-control-input form-control-lg" type="checkbox" value="1" id="<%= id %>" <%= checked ? "checked" : "" %>>
  <label class="custom-control-label" for="<%= id %>">
    <%= title %>
  </label>
</div>
